<h2 class="form-title">New Run</h2>

<form {{action newRun on="submit"}} novalidate="novalidate">
  <ul>
    <li class="form-list">
      {{input-formatted pattern="{{99}}:{{99}}:{{99}}"
                        placeholder="Run Time (hh:mm:ss)"
                        value=time}}
    </li>
    <li class="form-list">
      {{input-formatted pattern="{{99}}/{{99}}/{{9999}}" placeholder="Run Date (mm/dd/yyyy)" value=date}}
    </li>
    <li class="form-list">
      {{textarea placeholder="Race Notes" value=notes}}
    </li>
  </ul>

  <div>
    {{#link-to "index"}}
      <button {{action clearForm on="click"}}>Cancel</button>
    {{/link-to}}
    <button>Save</button>
  </div>
</form>
